[package]
name = "ffi"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "ironrdp"
crate-type = ["staticlib", "cdylib"]
doc = false
test = false
doctest = false

[dependencies]
diplomat = "0.7"
diplomat-runtime = "0.7"
ironrdp = { workspace = true, features = ["session", "connector", "dvc", "svc", "rdpdr", "rdpsnd", "graphics", "input", "cliprdr", "displaycontrol"] }
ironrdp-cliprdr-native = { workspace = true }
ironrdp-core = { workspace = true, features = ["alloc"] }
sspi = { workspace = true, features = ["network_client"] }
thiserror.workspace = true
tracing.workspace = true
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[target.'cfg(windows)'.build-dependencies]
embed-resource = "2.5"

[lints]
workspace = true

