body.light {
	--primary: #0061a6;
	--on-primary: #ffffff;
	--primary-container: #d0e4ff;
	--on-primary-container: #001d36;
	--secondary: #535f70;
	--on-secondary: #ffffff;
	--secondary-container: #d6e3f7;
	--on-secondary-container: #101c2b;
	--tertiary: #6b5778;
	--on-tertiary: #ffffff;
	--tertiary-container: #f3daff;
	--on-tertiary-container: #251432;
	--error: #ba1b1b;
	--error-container: #ffdad4;
	--on-error: #ffffff;
	--on-error-container: #410001;
	--background: #fdfcff;
	--on-background: #1b1b1b;
	--surface: #fdfcff;
	--on-surface: #1b1b1b;
	--surface-variant: #dfe2eb;
	--on-surface-variant: #42474e;
	--outline: #73777f;
	--inverse-on-surface: #f1f0f4;
	--inverse-surface: #2f3033;
	--inverse-primary: #9ccaff;
	--shadow: #000000;
}

body.dark {
	--primary: #9ccaff;
	--on-primary: #00325a;
	--primary-container: #00497f;
	--on-primary-container: #d0e4ff;
	--secondary: #bbc8db;
	--on-secondary: #253140;
	--secondary-container: #3c4858;
	--on-secondary-container: #d6e3f7;
	--tertiary: #d6bee4;
	--on-tertiary: #3b2948;
	--tertiary-container: #523f5f;
	--on-tertiary-container: #f3daff;
	--error: #ffb4a9;
	--error-container: #930006;
	--on-error: #680003;
	--on-error-container: #ffdad4;
	--background: #1b1b1b;
	--on-background: #e2e2e6;
	--surface: #1b1b1b;
	--on-surface: #e2e2e6;
	--surface-variant: #42474e;
	--on-surface-variant: #c3c7d0;
	--outline: #8d9199;
	--inverse-on-surface: #1b1b1b;
	--inverse-surface: #e2e2e6;
	--inverse-primary: #0061a6;
	--shadow: #000000;
}
