# Build artifacts
/target
/dependencies
# Local smoke-test artifacts
/artifacts
# Local cargo root
/.cargo/local_root

# Log files
*.log

# Coverage
/docs/coverage

# Editor/IDE files
*~
/tags
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?
