[package]
name = "ironrdp"
version = "0.5.0"
readme = "README.md"
description = "A Rust implementation of the Microsoft Remote Desktop Protocol (RDP)"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[features]
default = ["pdu", "connector", "session"]
pdu = ["dep:ironrdp-pdu"]
connector = ["dep:ironrdp-connector"]
session = ["dep:ironrdp-session"]
graphics = ["dep:ironrdp-graphics"]
input = ["dep:ironrdp-input"]

[dependencies]
ironrdp-pdu = { workspace = true, optional = true }
ironrdp-connector = { workspace = true, optional = true }
ironrdp-session = { workspace = true, optional = true }
ironrdp-graphics = { workspace = true, optional = true }
ironrdp-input = { workspace = true, optional = true }

[workspace]
members = [
  "crates/*",
  "xtask",
]
default-members = [
  "crates/pdu",
  "crates/connector",
  "crates/session",
  "crates/graphics",
  "crates/input",
  "crates/async",
  "crates/client",
  "crates/web",
]

# FIXME: fix compilation
exclude = [
  "crates/client-glutin",
  "crates/glutin-renderer",
  "crates/replay-client",
]

[workspace.package]
edition = "2021"
license = "MIT/Apache-2.0"
homepage = "https://github.com/Devolutions/IronRDP"
repository = "https://github.com/Devolutions/IronRDP"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
keywords = ["rdp", "remote-desktop", "network", "client", "protocol"]
categories = ["network-programming"]

[workspace.dependencies]
bmp = "0.5"
expect-test = "1"
ironrdp = { version = "0.5", path = "." }
ironrdp-async = { version = "0.1", path = "crates/async" }
ironrdp-connector = { version = "0.1", path = "crates/connector" }
ironrdp-graphics = { version = "0.1", path = "crates/graphics" }
ironrdp-input = { version = "0.1", path = "crates/input" }
ironrdp-pdu = { version = "0.1", path = "crates/pdu" }
ironrdp-pdu-generators = { path = "crates/pdu-generators" }
ironrdp-pdu-samples = { path = "crates/pdu-samples" }
ironrdp-rdcleanpath = { version = "0.1", path = "crates/rdcleanpath" }
ironrdp-session = { version = "0.1", path = "crates/session" }
ironrdp-session-generators = { path = "crates/session-generators" }
ironrdp-tls = { version = "0.1", path = "crates/tls" }
proptest = "1.1.0"
rstest = "0.17.0"
sspi = "0.8.1"
tracing = "0.1.37"

[profile.dev]
opt-level = 1

[profile.production]
inherits = "release"
lto = true

[profile.production-wasm]
inherits = "release"
opt-level = "s"
lto = true
