[package]
name = "ironrdp-client"
version = "0.1.0"
readme = "README.md"
description = "Portable RDP client without GPU acceleration"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true
default-run = "ironrdp-client"

[lib]
doctest = false
test = false

[[bin]]
name = "ironrdp-client"
test = false

[features]
default = ["rustls"]
rustls = ["ironrdp-tls/rustls"]
native-tls = ["ironrdp-tls/native-tls"]

[dependencies]

# Protocols
ironrdp = { workspace = true, features = ["input", "graphics", "dvc", "svc", "rdpdr", "rdpsnd", "cliprdr", "displaycontrol"] }
ironrdp-cliprdr-native.workspace = true
ironrdp-rdpsnd-native.workspace = true
ironrdp-tls.workspace = true
ironrdp-tokio.workspace = true
sspi = { workspace = true, features = ["network_client", "dns_resolver"] } # enable additional features

# Windowing and rendering
winit = "0.28"
softbuffer = "0.4"

# CLI
clap = { version = "4.5", features = ["derive", "cargo"] }
proc-exit = "2"
inquire = "0.6"

# Logging
tracing.workspace = true
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# Async, futures
tokio = { version = "1", features = ["full"]}

# Utils
whoami = "1.5"
anyhow = "1"
smallvec = "1.13"
tap = "1"
semver = "1"
reqwest = "0.12"
url = "2.5"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.48", features = [
    "Win32_Foundation",
] }
