[package]
name = "ironrdp-server"
version = "0.10.0"
readme = "README.md"
description = "Extendable skeleton for implementing custom RDP servers"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = true
test = false

[features]
default = ["rayon", "qoi", "qoiz"]
helper = ["dep:x509-cert", "dep:rustls-pemfile"]
rayon = ["dep:rayon"]
qoi = ["dep:qoicoubeh", "ironrdp-pdu/qoi"]
qoiz = ["dep:zstd-safe", "qoi", "ironrdp-pdu/qoiz"]
egfx = ["dep:ironrdp-egfx"]

# Internal (PRIVATE!) features used to aid testing.
# Don't rely on these whatsoever. They may disappear at any time.
__bench = ["dep:visibility"]

[dependencies]
anyhow = "1.0"
tokio = { version = "1", features = ["net", "macros", "sync", "rt"] } # public
tokio-rustls = "0.26" # public
async-trait = "0.1"
ironrdp-async = { path = "../ironrdp-async", version = "0.8" }
ironrdp-ainput = { path = "../ironrdp-ainput", version = "0.5" }
ironrdp-core = { path = "../ironrdp-core", version = "0.1" }
ironrdp-pdu = { path = "../ironrdp-pdu", version = "0.7" } # public
ironrdp-svc = { path = "../ironrdp-svc", version = "0.6" } # public
ironrdp-cliprdr = { path = "../ironrdp-cliprdr", version = "0.5" } # public
ironrdp-displaycontrol = { path = "../ironrdp-displaycontrol", version = "0.5" } # public
ironrdp-echo = { path = "../ironrdp-echo", version = "0.1" } # public
ironrdp-dvc = { path = "../ironrdp-dvc", version = "0.5" } # public
ironrdp-tokio = { path = "../ironrdp-tokio", version = "0.8", features = ["reqwest"] }
ironrdp-acceptor = { path = "../ironrdp-acceptor", version = "0.8" } # public
ironrdp-graphics = { path = "../ironrdp-graphics", version = "0.7" } # public
ironrdp-rdpsnd = { path = "../ironrdp-rdpsnd", version = "0.7" } # public
tracing = { version = "0.1", features = ["log"] }
x509-cert = { version = "0.2.5", optional = true }
rustls-pemfile = { version = "2.2.0", optional = true }
rayon = { version = "1.10.0", optional = true }
bytes = "1"
visibility = { version = "0.1", optional = true }
qoicoubeh = { version = "0.5", optional = true }
zstd-safe = { version = "7.2", optional = true }
ironrdp-egfx = { path = "../ironrdp-egfx", version = "0.1", optional = true }

[dev-dependencies]
tokio = { version = "1", features = ["sync"] }

[lints]
workspace = true
