[package]
name = "ironrdp-connector"
version = "0.7.1"
readme = "README.md"
description = "State machines to drive an RDP connection sequence"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
test = false

[features]
default = []
arbitrary = ["dep:arbitrary"]
qoi = ["ironrdp-pdu/qoi"]
qoiz = ["ironrdp-pdu/qoiz"]

[dependencies]
ironrdp-svc = { path = "../ironrdp-svc", version = "0.5" } # public
ironrdp-core = { path = "../ironrdp-core", version = "0.1" } # public
ironrdp-error = { path = "../ironrdp-error", version = "0.1" } # public
ironrdp-pdu = { path = "../ironrdp-pdu", version = "0.6", features = ["std"] } # public
arbitrary = { version = "1", features = ["derive"], optional = true } # public
sspi = { git = "https://github.com/allan2/sspi-rs", branch = "picky-9829751", features = ["scard"] }
url = "2.5" # public
rand = { version = "0.9", features = ["std"] } # TODO: dependency injection?
tracing = { version = "0.1", features = ["log"] }
picky-asn1-der = { git = "https://github.com/allan2/picky-rs", rev = "9829751" }
picky-asn1-x509 = { git = "https://github.com/allan2/picky-rs", rev = "9829751" }
picky = { git = "https://github.com/allan2/picky-rs", rev = "9829751" }

[lints]
workspace = true
