node_modules/
.DS_Store
.env
.env.*
!.env.example

/.svelte-kit
/package
/build
/static/bearcss
/static/material-icons
/dist
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

ironrdp
ironvnc