[package]
name = "ironrdp-pdu"
version = "0.6.0"
readme = "README.md"
description = "RDP PDU encoding and decoding"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
# test = false

[features]
default = []
std = ["alloc", "ironrdp-error/std", "ironrdp-core/std"]
alloc = ["ironrdp-core/alloc", "ironrdp-error/alloc"]
qoi = []
qoiz = ["qoi"]

[dependencies]
bitflags = "2.9"
ironrdp-core = { path = "../ironrdp-core", version = "0.1", features = ["std"] } # public
ironrdp-error = { path = "../ironrdp-error", version = "0.1" } # public
tap = "1"

# TODO: get rid of these dependencies (related code should probably go into another crate)
bit_field = "0.10"
byteorder = "1.5" # TODO: remove
der-parser = "10.0"
thiserror = "2.0"
md5 = { package = "md-5", version = "0.10" }
num-bigint = "0.4"
num-derive.workspace = true # TODO: remove
num-integer = "0.1"
num-traits.workspace = true # TODO: remove
sha1 = "0.10"
x509-cert = { version = "0.2", default-features = false, features = ["std"] }
pkcs1 = "0.7"

[dev-dependencies]
expect-test.workspace = true
lazy_static.workspace = true # TODO: remove in favor of https://doc.rust-lang.org/std/sync/struct.OnceLock.html

[lints]
workspace = true
