[package]
name = "ironrdp-pdu"
version = "0.1.1"
readme = "README.md"
description = "RDP PDU encoding and decoding"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
# test = false

[features]
default = []
std = ["alloc", "ironrdp-error/std", "ironrdp-core/std"]
alloc = ["ironrdp-core/alloc", "ironrdp-error/alloc"]

[dependencies]
bitflags.workspace = true
ironrdp-core = { workspace = true, features = ["std"] }
ironrdp-error.workspace = true
tap = "1"

# TODO: get rid of these dependencies (related code should probably go into another crate)
bit_field = "0.10"
byteorder.workspace = true                                                    # TODO: remove
der-parser = "9.0"
thiserror.workspace = true
md5 = { package = "md-5", version = "0.10" }
num-bigint = "0.4"
num-derive.workspace = true                                                   # TODO: remove
num-integer = "0.1"
num-traits.workspace = true                                                   # TODO: remove
sha1 = "0.10"
x509-cert = { version = "0.2", default-features = false, features = ["std"] }
pkcs1 = "0.7"

[dev-dependencies]
expect-test.workspace = true
lazy_static.workspace = true # TODO: remove in favor of https://doc.rust-lang.org/std/sync/struct.OnceLock.html

[lints]
workspace = true
