[package]
name = "ironrdp-acceptor"
version = "0.3.0"
readme = "README.md"
description = "State machines to drive an RDP connection acceptance sequence"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
test = false

[dependencies]
ironrdp-pdu.workspace = true
ironrdp-svc.workspace = true
ironrdp-connector.workspace = true
ironrdp-async.workspace = true
tracing.workspace = true
ironrdp-core = { workspace = true, features = ["alloc"] }

[lints]
workspace = true

