[package]
name = "ironrdp-dvc"
version = "0.2.0"
readme = "README.md"
description = "DRDYNVC static channel implementation and traits to implement dynamic virtual channels"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
test = false

[features]
default = []
std = []

[dependencies]
ironrdp-core = { path = "../ironrdp-core", version = "0.1", features = ["alloc"] } # public
ironrdp-svc = { path = "../ironrdp-svc", version = "0.3" } # public
ironrdp-pdu = { path = "../ironrdp-pdu", version = "0.5", features = ["alloc"] } # public
tracing = { version = "0.1", features = ["log"] }
slab = "0.4"

[lints]
workspace = true
