[package]
name = "ironrdp-rdpsnd"
version = "0.3.0"
readme = "README.md"
description = "RDPSND static channel for audio output implemented as described in MS-RDPEA"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
test = false

[features]
default = []
std = []

[dependencies]
bitflags = "2.4"
tracing = { version = "0.1", features = ["log"] }
ironrdp-svc = { path = "../ironrdp-svc", version = "0.1" }
ironrdp-core = { path = "../ironrdp-core", version = "0.1", features = ["alloc"] }
ironrdp-pdu = { path = "../ironrdp-pdu", version = "0.3", features = ["alloc"] }

[lints]
workspace = true
