[package]
name = "ironrdp-rdpsnd"
version = "0.2.0"
readme = "README.md"
description = "RDPSND static channel for audio output implemented as described in MS-RDPEA"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
test = false

[features]
default = []
std = []

[dependencies]
bitflags.workspace = true
tracing.workspace = true
ironrdp-svc.workspace = true
ironrdp-core = { workspace = true, features = ["alloc"] }
ironrdp-pdu = { workspace = true, features = ["alloc"] }

[lints]
workspace = true
