name: CI

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  formatting:
    name: Check formatting
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Check formatting
        run: cargo xtask check fmt

  typos:
    name: Check typos
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Check typos
        uses: crate-ci/typos@master

  lints:
    name: Lints
    runs-on: ubuntu-20.04
    needs: formatting

    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/
            ~/.cargo/git/
            ./target/
          key: ${{ runner.os }}-lints-${{ hashFiles('Cargo.lock') }}

      - name: Check clippy
        run: cargo xtask check lints

  wasm:
    name: WASM target
    runs-on: ubuntu-latest
    needs: formatting

    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/
            ~/.cargo/git/
            ./target/
          key: ${{ runner.os }}-wasm-${{ hashFiles('ffi/wasm/Cargo.lock') }}

      - name: Prepare runner
        run: sudo apt install wabt

      - name: Check
        run: cargo xtask check wasm

  tests:
    name: Tests [${{ matrix.os }}]
    runs-on: ${{ matrix.runner }}
    needs: formatting
    strategy:
      fail-fast: false
      matrix:
        os: [ windows, linux ]
        include:
          - os: windows
            runner: windows-2019
          - os: linux
            runner: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/
            ~/.cargo/git/
            ./target/
          key: ${{ runner.os }}-tests-${{ hashFiles('Cargo.lock') }}

      - name: Test [${{ matrix.os }}]
        run: cargo xtask check tests

  fuzz:
    name: Fuzzing
    runs-on: ubuntu-20.04
    needs: formatting
    env:
      AZURE_STORAGE_KEY: ${{ secrets.CORPUS_AZURE_STORAGE_KEY }}

    steps:
      - uses: actions/checkout@v3

      - name: Fuzz build cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/
            ~/.cargo/git/
            ./target/
            ./fuzz/target/
          key: ${{ runner.os }}-fuzz-${{ hashFiles('fuzz/Cargo.lock') }}

      - name: Fuzz subcommand installation cache
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/cargo-fuzz
          key: ${{ runner.os }}-binary-cargo-fuzz

      - name: Prepare runner
        shell: pwsh
        run: |
          if (-Not (Test-Path -Path ~/.cargo/bin/cargo-fuzz -PathType Leaf)) {
            # Install in debug because it's faster to compile and we don't need execution speed anyway
            cargo install --debug --locked cargo-fuzz
          }

          rustup install nightly --profile=minimal

      - name: Download fuzzing corpus
        run: cargo xtask fuzz corpus-fetch

      - name: Fuzz
        run: cargo xtask fuzz run

      - name: Minify fuzzing corpus
        run: cargo xtask fuzz corpus-min

      - name: Upload fuzzing corpus
        run: cargo xtask fuzz corpus-push
