[package]
name = "ironrdp"
version = "0.7.1"
readme = "README.md"
description = "A meta crate re-exporting IronRDP crates for convenience"
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
doctest = false
test = false

[features]
default = ["core", "pdu"]
core = ["dep:ironrdp-core"]
pdu = ["dep:ironrdp-pdu"]
cliprdr = ["dep:ironrdp-cliprdr"]
connector = ["dep:ironrdp-connector"]
acceptor = ["dep:ironrdp-acceptor"]
session = ["dep:ironrdp-session"]
graphics = ["dep:ironrdp-graphics"]
input = ["dep:ironrdp-input"]
server = ["dep:ironrdp-server"]
svc = ["dep:ironrdp-svc"]
dvc = ["dep:ironrdp-dvc"]
rdpdr = ["dep:ironrdp-rdpdr"]
rdpsnd = ["dep:ironrdp-rdpsnd"]
displaycontrol = ["dep:ironrdp-displaycontrol"]

[dependencies]
ironrdp-core = { workspace = true, optional = true }
ironrdp-pdu = { workspace = true, optional = true }
ironrdp-cliprdr = { workspace = true, optional = true }
ironrdp-connector = { workspace = true, optional = true }
ironrdp-acceptor = { workspace = true, optional = true }
ironrdp-session = { workspace = true, optional = true }
ironrdp-graphics = { workspace = true, optional = true }
ironrdp-input = { workspace = true, optional = true }
ironrdp-server = { workspace = true, optional = true, features = ["helper"] }
ironrdp-svc = { workspace = true, optional = true }
ironrdp-dvc = { workspace = true, optional = true }
ironrdp-rdpdr = { workspace = true, optional = true }
ironrdp-rdpsnd = { workspace = true, optional = true }
ironrdp-displaycontrol = { workspace = true, optional = true }

[dev-dependencies]
ironrdp-blocking.workspace = true
ironrdp-cliprdr-native.workspace = true
anyhow = "1"
async-trait = "0.1"
image = { version = "0.25.5", default-features = false, features = ["png"] }
pico-args = "0.5"
x509-cert = { version = "0.2", default-features = false, features = ["std"] }
sspi = { workspace = true, features = ["network_client"] }
tracing.workspace = true
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tokio-rustls = "0.26"
rand = "0.8"

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
all-features = true

[[example]]
name = "screenshot"
doc-scrape-examples = true
required-features = ["session", "connector", "graphics"]

[[example]]
name = "server"
doc-scrape-examples = true
required-features = ["cliprdr", "rdpsnd", "server"]

[lints]
workspace = true
